.footer-contact {
	background-color: #333741;
	color: #aeafb3;
	height: 11rem;
	max-width: 100rem;
	padding: 2rem;
}

.center {
	max-width: 40rem;
	margin: 0 auto;
}

.links {
	float: left;
}

.footer-link {
	cursor: pointer;
}

.footer-link, .title-contact, .contact-cities {
	line-height: 1.5rem;
}

.footer-link:hover {
	color: #fff;
}

.title-contact {
	margin-left: 1rem;
}

.contact {
	margin-left: 2rem;
	float: left;
}

.contact-table {
	border-left: 0.041666rem solid;
	padding-left: 1rem;
}

.contact-table-td-1, .contact-table-td-2 {
	line-height: 1.5rem;
	padding: 0rem;
}

.contact-table-td-1 {
	width: 1rem;
}

.mailto, .tel {
	color: #aeafb3;
}

.mailto:hover, .tel:hover {
	color: #fff;
}

.social-media-list {
	color: #aeafb3;
	font-size: 1rem;
	float: left;
	margin-left: 5rem;
}

.icons-bg {
	border-radius: 0.083333rem;
	cursor: pointer;
	color: #aeafb3;
	font-size: 1.25rem;
	background-color: #4e5462;
	width: 1.75rem;
	text-align: center;
	height: 1.75rem;
	float: left;
	margin-right: 0.5rem;
	line-height: 1.5rem;
	box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.24);
	webkit-box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.24);
	moz-box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.24);
	display: flex;
	align-items: center;
}

#fb-footer {
	line-height: 1.25rem;
}

.icons-bg:hover {
	color: #fff;
}

.icons-bg i {
	flex-grow: 1;
}

.footer-sealcode {
	background-color: rgb(38,41,49);
	color: #fff;
	padding-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.sealcode-logo {
	float: left;
	height: 40px;
	width: 49.1333px;
	vertical-align: middle;
	margin-right: 0.25rem;
}

.sealcode-info {
	line-height: 1.5rem;
}