.main-nav {
	font-family: metafors;
	background-color: #333741;
	max-width: 100rem;
	text-align: center;
	height: 3rem;
	margin: 0 auto;
	z-index: 9;
	position: relative;
	top: 100%;
	box-shadow: -1px 9px 10px -5px rgba(32, 32, 32, 0.45);
	-webkit-box-shadow: -1px 9px 10px -5px rgba(32, 32, 32, 0.45);
	-moz-box-shadow: -1px 9px 10px -5px rgba(32, 32, 32, 0.45);
}

.post-title, .page-heading {
	font-family: metafors;
	font-size: 1.25rem;
}

.container{
	max-width: 60rem;
	margin: 0 auto;
	position: relative;
}

.menu-right{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
}

.menu-right > li > a{
	font-size: 1rem;/* 0.666667rem to za ma�o; */
	text-decoration: none;
	color: #fff;
	line-height: 3rem;
	display: block;
	padding: 0 1rem;
}

.menu-left{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
}

.menu-left > li > a{
	font-size: 1rem;/* 0.666667rem to za ma�o; */
	text-decoration: none;
	color: #fff;
	line-height: 3rem;
	display: block;
	padding: 0 1rem;
}

.menu-left > li > a > img{
	margin-top: 0.5rem;
	height: 2rem;
	width: 2rem;
	float: left;
	vertical-align: middle;
}

.show-menu{
	position: absolute;
	padding: 0 0.5rem;
	right: 0rem;
	display: none;
	background: none;
	color: #fff;
	font-family: metafors;
	font-size: 1rem;
	line-height: 3rem;
}

.navbar-expanded{
	height: 15rem !important;
}

@media all and (max-width: 816px){
	.main-nav{
		height: 6rem;
	}

	.menu-right{
		top: 3rem;
		left: 0.5rem;
		right: auto;
	}
}

@media all and (max-width: 650px){
	.show-menu{
		display: block;
	}

	.menu-right{
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.main-nav{
		transition: height 0.3s;
		overflow: hidden;
		height: 3rem;
	}

}
