/* section one */

	.link-container {
		display: block;
		text-align: center;
	}

	.section-one {
		color: #fff;
		background-image: url('/pictures/background.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 80% 100%;
		max-width: 100rem;
		margin: 0 auto;
		text-align: center;
		z-index: 8;
		position: relative;
		min-height: 80vh;
		padding-bottom: 1rem;
		display: flex;
		flex-flow: column;
		justify-content: space-around;
		padding-top: 2rem;
	}

	.title-of-section {
		font-family: metafors;
		font-size: 1.25rem;
		font-weight: normal;
		margin-top: 0rem;
		text-align: center;
	}

	.description {
		font-family: Lato;
		/*font-size: 0.666667rem;*/
		font-size: 0.75rem;
		line-height: 1rem;
		font-weight: normal;
		margin: 0rem;
		padding: 0 1rem;
		margin: 1rem 0;
		text-align: center;
	}

	button {
		border-radius: 1rem;
		font-size: 0.583333rem;
		font-family: Lato;
		color: #fff;
		border-width: 0.083333rem;
		transition: 250ms;
		border-style: none;
		cursor: pointer;
	}
	button:focus {
        outline:none !important;
	}

	.city-search {
		border-color: #fff;
		border-style: solid;
		/*padding: 0rem 1rem 0rem 1rem;*/
		padding: 0rem 1.75rem 0rem 1.75rem;
		background-color: transparent;
		line-height: 1.5rem;
		-box-shadow: 8px 9px 10px -5px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 8px 9px 10px -5px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 8px 9px 10px -5px rgba(0, 0, 0, 0.5);
	}

	.city-search:hover {
		background-color: #ffc700;
		color: #000;
		border-color: #ffc700;
		webkit-box-shadow: 8px 9px 10px -5px rgba(38,41,49,1);
		moz-box-shadow: 8px 9px 10px -5px rgba(38,41,49,1);
		box-shadow: 8px 9px 10px -5px rgba(38,41,49,1);
        -webkit-transition-duration: 0.5s; /* Safari */
        transition-duration: 0.5s;
	}

	.icons-one {
		margin-top: 1rem;
		display: flex;
		align-self: flex-end;
	}

	.icons-soc {
		display: block;
		transition-duration: 250ms;
		transition-timing-function: ease-out;
		background-color: transparent;
		height: 1.5rem;
		width: 1.5rem;
		font-size: 1.5rem;
		border-radius: 0.083333rem;
		margin-right: 0.75rem;
		color: #fff;
		cursor: pointer;
	}

	.icons-soc:hover {
		bottom: 1.5rem;
	}

/* section two */

	.section-two {
		background-color: #fff;
		text-align: center;
		margin: 0 auto;
		text-align: center;
		max-width: 100rem;
		z-index: 7;
		position: relative;
		padding-bottom: 2rem;
	}

	.title-two, .title-three, .title-five {
		padding: 2rem;
	}

	.section-content {
		text-align: center;
		margin: 0 auto;
		max-width: 50rem;
		margin-bottom: 2rem;
		font-size: 0.75rem;
	}

	.images {
		text-align: center;
		display: flex;
		flex-flow: row wrap;
		max-width: 42rem;
		margin: 0 auto;
		justify-content: center;
	}

	.img-block {
		text-align: center;
		flex-basis: 8rem;
		margin: .5rem 1rem;
	}

	.img-circle {
		height: 8rem;
		width: 8rem;
		text-align: center;
		border-radius: 5rem;
	}

	.img-content {
		text-align: center;
		margin-top: 1rem;
		/*font-size: 0.75rem;*/
		font-size: calc( 2 / 3 * 1rem );
	}

/* section three */

	.section-three {
		padding-bottom: 2rem;
		text-align: center;
		margin: 0 auto;
		max-width: 100rem;
		background-image: url('/pictures/backgound.png');
		/*background-size: cover;*/
		z-index: 6;
		position: relative;
	}

	.center-three {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
	}

	.map {
		position: relative;
		background-image: url('/pictures/polska_mapa.png');
		background-size: contain;
		height: 15rem;
		width: 15rem;
		margin: 0 4rem;
		margin-right: 2rem;
		background-repeat: no-repeat;
		background-position: center;

		-webkit-filter: drop-shadow(5px 5px 5px rgba(48, 48, 48, 0.58));
		filter: drop-shadow(5px 5px 5px rgba(48, 48, 48, 0.58));
	}

	.city-link {
		font-family: Lato;
		font-size: 0.583333rem;
		display: block;
		width: 3rem;
		cursor: pointer;
		position: absolute;
	}

	.city-link-div {
		display: inline-block;
		width: 1rem;
		height: 1rem;
		border-radius: 0.5rem;
		margin-right: 0.5rem;
		margin-bottom: 0rem;
		position: relative;
		left: 0;
		background-color: #fff;
		transition: 25
	}

	.city-link:hover > div {
		background-color: #333741;
	}

	.city-link:hover > p {
		color: #333741;
	}

	#gdynia {
		top: 5%;
		left: 31%;
	}

	#warszawa {
		top: 39%;
		left: 58%;
	}

	#poznan {
		left: 21%;
		top: 37%;
	}

	.map-info {
		width: 20rem;
		text-align: left;
		height: 10rem;
	}

	.map-info-table {
		height: 8rem;
		padding-left: 0.6rem;
		padding-right: 0.6rem;
	}

	.header-table {
		height: 2rem;
	}

	.city-title {
		font-size: 1rem;/*0.583333rem to za mało;*/
		font-weight: normal;
		font-family: metafors;
		padding-right: 8rem;
		padding-bottom: 1rem;
		padding-top: 0rem;
		height: 2rem;
	}

	.body-table {
		height: 6rem;
	}

	.data, .data-info {
		font-size: 0.75rem;/*0.5rem;to za mało */
	}

	.data {
		padding-right: 1rem;
		padding-top: 0rem;
		color: #a1820c;
	}

	.meetings {
		background-color: #333741;
		padding: 0rem 1rem 0rem 1rem;
		margin-left: 5rem;
		line-height: 1.5rem;
		box-shadow: 8px 9px 10px -5px rgb(0, 0, 0);
		webkit-box-shadow: 8px 9px 10px -5px rgb(0, 0, 0);
		moz-box-shadow: 8px 9px 10px -5px rgb(0, 0, 0);
	}

	.meetings:hover {
		webkit-box-shadow: 8px 9px 10px -5px rgba(38,41,49,1);
		moz-box-shadow: 8px 9px 10px -5px rgba(38,41,49,1);
		box-shadow: 8px 9px 10px -5px rgba(38,41,49,1);
	}

/* section four */

	.section-four {
		padding: 1rem;
		text-align: center;
		max-width: 100rem;
		margin: 0 auto;
		background-color: #333741;
		color: #fff;
		z-index: 5;
		position: relative;
	}

	.content-four {
		padding-bottom: 0rem;
	}

	.title-four {
		padding: 1rem;
	}

	.join {
		font-size: 0.666667rem;
		background-color: #ffc700;
		color: #000;
		padding: 0rem 2rem 0rem 2rem;
		line-height: 1.5rem;
		box-shadow: 8px 9px 10px -5px rgb(0, 0, 0);
		webkit-box-shadow: 8px 9px 10px -5px rgb(0, 0, 0);
		moz-box-shadow: 8px 9px 10px -5px rgb(0, 0, 0);
	}

	.join:hover {
		webkit-box-shadow: 8px 9px 10px -5px rgba(38,41,49,1);
		moz-box-shadow: 8px 9px 10px -5px rgba(38,41,49,1);
		box-shadow: 8px 9px 10px -5px rgba(38,41,49,1);
	}

/* section five */

	.section-five {
		background-color: #fff;
		margin: 0 auto;
		text-align: center;
		max-width: 100rem;
		z-index: 4;
		position: relative;
		padding-bottom: 2rem;
	}

	.title-five {
		padding-bottom: 1rem;
	}

	.table-meetings {
		max-width: 40rem;
		margin: 0 auto;
		text-align: left;
		border-collapse: collapse;
	}

	.table-element-meetings {
		padding-top: 0.25rem;
		padding-left: 1.5rem;
		padding-right: 0rem;
		padding-bottom: 0.25rem;
		font-size: 0.75rem;
		border-bottom: 0.041666rem #e8e8ea solid;
	}

	.table-element-info {
		font-size: 0.666667rem;
		margin-left: 0.25rem;
	}

	.table-agenda {
		padding-right: 1.5rem;
	}

	.agenda {
		font-size: 0.666667rem;
		color: #aeafb3;
		background-color: transparent;
		border-style: solid;
		border-width: 0.041666rem;
		border-color: #aeafb3;
		padding: 0rem 0.5rem;
	}

	.agenda:hover {
		background-color: #333741;
		border-color: #333741;
		border-width: 0.041666rem;
		color: #fff;
        -webkit-transition-duration: 0.5s; /* Safari */
        transition-duration: 0.5s;
	}

	.five {
		padding: 0rem 2rem 0.166666rem 2rem;
		margin-top: 2rem;
		margin-left: 1rem;
	}

	div[class^='section-']{
		padding-left: 0.4rem;
		padding-right: 0.4rem;
	}

/* Sponsors and partners */

	.sponsors {
		max-width: 100rem;
		margin: 0 auto;
		background-image: url('/pictures/backgound.png');
		background-size: cover;
		z-index: 3;
		position: relative;
		padding-bottom: 1rem;
	}

	.partners {
		max-width: 100rem;
		margin: 0 auto;
		text-align: center;
		background-color: #fff;
		z-index: 2;
		position: relative;
	}

	.title-sponsors, .title-partners {
		padding: 2rem;
		padding-bottom: 1rem;
	}

	.logos {
		max-width: 40rem;
		margin: 0 auto;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin-bottom: 1rem;
	}

	.logos > * {
		color: #000;
		text-align: center;
		font-size: 0.5rem;
		font-family: Lato;
		color: #000;
		cursor: pointer;
		margin: 0.5rem;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 88%;
		flex-basis: calc(25% - 2rem );
		align-items: center;
		display: flex;
		flex-flow: column;
	}

	.box {
		height: 5rem;
		width: 8rem; /* złoty podział a ciąg Fibonacciego */
		max-width: 8rem;
		border-width: 0.041666rem;
		border-style: solid;
		border-radius: 0;
		border-width: 0.041666rem;
	}

	.box.placeholder {
		border-style: dashed;
		border-color: #333741;
		display: flex;
		align-items: center;
	}

	.box.placeholder:hover {
		border-style: solid;
	}

	.be-sponsor-partner {
		margin: 0!important;
		display: flex;
		flex-flow: row;
		align-items: center;
		padding: 0;
	}

	label {
		display: block;
		/*width: 2.5rem;*/
		margin: 0 auto;
	}

	#sponsors-sml {
		background-image: url('/pictures/sml.png');
	}

	#sponsors-sml:hover {
		background-image: url('/pictures/sml_color.png');
	}
    #sponsors-speednet {
		background-image: url('/pictures/speednet.png');
	}

	#sponsors-speednet:hover {
		background-image: url('/pictures/speednet_color.png');
	}
    #sponsors-desmart {
		background-image: url('/pictures/desmart.png');
	}

	#sponsors-desmart:hover {
		background-image: url('/pictures/desmart_color.png');
	}

	.logo {
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 88%;
	}

	#partners-sealcode {
		background-image: url('/pictures/logo-sealcode-black.png');
	}

	#partners-sealcode:hover {
		background-image: url('/pictures/logo-sealcode.png');
	}
    #partners-ppnt {
		background-image: url('/pictures/ppnt.png');
	}

	#partners-ppnt:hover {
		background-image: url('/pictures/ppnt_color.png');
	}
    #partners-strefastartup {
		background-image: url('/pictures/strefastartup.png');
	}

	#partners-strefastartup:hover {
		background-image: url('/pictures/strefastartup_color.png');
	}
    #partners-uxswps {
		background-image: url('/pictures/uxswps.png');
	}

	#partners-uxswps:hover {
		background-image: url('/pictures/uxswps_color.png');
	}
    #partners-przedsiebiorczak {
		background-image: url('/pictures/przedsiebiorczak.png');
	}

	#partners-przedsiebiorczak:hover {
		background-image: url('/pictures/przedsiebiorczak_color.png');
	}
    #partners-publoft {
		background-image: url('/pictures/publoft.png');
	}

	#partners-edisonda:hover {
		background-image: url('/pictures/edusonda.png');
	}
    #partners-edisonda:hover {
		background-image: url('/pictures/edisonda_color.png');
	}
	.be-sponsor-partner {
		text-align: center;
		font-size: 0.666667rem;
		padding: 1rem;
		background-color: transparent;
		color: #333741;
		width: 100%;
		height: 100%;
	}

.content-four.section-content {
	margin-bottom: 1rem;
}

/*responsive*/

@media all and (max-width: 1292px) {

	/*section 2*/
	.images{
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}

	/*section three*/
	.center-three{
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		min-width: 0;
		justify-content: center;
	}

	.map-info{
		/*width: auto;*/
	}

	/*section 5*/

	.section-five{
		height: initial;
		padding-bottom: 4rem;
	}
}

@media all and (max-width: 765px) {

	/*section 5*/

	.table-meetings tr{
		display: flex;
		flex-direction: column;
		border-bottom: 0.041666rem #e8e8ea solid;
		padding-bottom: 1rem;
		padding-top: 1rem;
	}

	.section-five{
		height: initial;
	}

	.table-element-meetings{
		border-bottom: none;
	}




}

@media all and (max-width: 778px){
	.menu-nav-element, .logo-index{
		margin: 1rem 0.75rem !important;
	}

	.logo-index{
		position: absolute;
		top: 0;
	}

	.menu-nav-element{
		margin-top: 4rem !important;
	}
}

@media all and (max-width: 961px){
	.logos{
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}

	.logos div:nth-child(5){
		display: none;
	}

	.logos div:last-child{
		display: none;
	}

	.logos div{
		clear: none;
	}

	.logos > div{
		flex-basis: 10rem;
		padding-bottom: 1rem;
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.logos a{
		flex-basis: 10rem;
		display: flex;
		justify-content: center;
	}

	.logo{
		display: flex;
	}

	.social-media-list{
		margin: 0 !important;
		margin-top: 0.5rem !important;
	}
}

@media all and (max-width: 473px){
	.center{
		display:flex;
		flex-direction: column;
	}

	.contact{
		margin: 0 !important;
	}

	.footer-contact{
		height: auto !important;
	}

	.contact-table{
		border: none !important;
		padding: 0 !important;
	}

	.title-contact{
		margin: 0 !important;
		margin-top: 1rem !important;
	}

	.social-media-list{
		margin: 0 !important;
		margin-top: 1rem !important;
	}
}



/*iPhone 5*/
@media all and (max-width: 321px){
	.map-info-table td{
		display: flex;
		flex-direction: column;
		padding: 0 1rem;
		width: 100%;
	}

	.map-info-table th{
		display: flex;
		flex-direction: column;
		padding: 0 1rem;
		width: 100%;
	}

	.join{
		padding: 0 0.75rem;
	}

	.map{
		background-size: 10rem;
		width: 10rem;
		height: 10rem;
	}

	.icons-bg{
		margin-top: 0.5rem;
	}

}

/*iPhone 6*/
@media all and (max-width: 376px) and (min-width: 321px){

	.map-info-table td{
		display: flex;
		flex-direction: column;
		padding: 0 1rem;
		width: 100%;
	}

	.map-info-table th{
		display: flex;
		flex-direction: column;
		padding: 0 1rem;
		width: 100%;
	}

	.map{
		background-size: 10rem;
		width: 10rem;
		height: 10rem;
	}

	.map{
		background-size: 10rem;
		width: 10rem;
		height: 10rem;
	}
}

/*iPhone 6 Plus*/
@media all and (max-width: 415px) and (min-width: 376px){

	.section-content{
		margin-left: 1rem !important;
		margin-right: 1rem !important;
	}

	.map-info-table td{
		display: flex;
		flex-direction: column;
		padding: 0 1rem;
		width: 100%;
	}

	.map-info-table th{
		display: flex;
		flex-direction: column;
		padding: 0 1rem;
		width: 100%;
	}

	.map{
		background-size: 10rem;
		width: 10rem;
		height: 10rem;
	}

	.map{
		background-size: 10rem;
		width: 10rem;
		height: 10rem;
	}

}

/*iPad*/
@media all and (max-width: 769px){

	/*.section-content.content-four{
		padding: 0 1rem;
	}*/
}

/*iPhone 6 landscape*/
@media all and (max-width: 667px) and (orientation: landscape){
	.table-meetings tr{
		display: flex;
		flex-direction: column;
		border-bottom: 0.041666rem #e8e8ea solid;
		padding-bottom: 1rem;
		padding-top: 1rem;
	}

	.section-five{
		height: initial;
	}

	.table-element-meetings{
		border-bottom: none;
	}
}

/*iPad landscape*/
@media all and (max-width: 1024px) and (min-width: 667px) and (orientation: landscape){
	.logos{
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}

	.logos div:nth-child(5){
		display: none;
	}

	.logos div:last-child{
		display: none;
	}

	.logos div{
		clear: none;
	}

	.logos > div{
		flex-basis: 10rem;
		padding-bottom: 1rem;
		justify-content: center;
		display: flex;
		flex-direction: column;
	}

	.logos a{
		flex-basis: 10rem;
		display: flex;
		justify-content: center;
	}

	.logo{
		display: flex;
	}

	.social-media-list{
		margin: 0 !important;
		margin-top: 0.5rem !important;
	}
}


@media all and (max-width: 1200px) and (min-width: 961px){
	.logos{
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}

	.logos div:nth-child(5){
		display: none;
	}

	.logos div:last-child{
		display: none;
	}

	.logos div{
		clear: none;
	}

	.logos > div{
		flex-basis: 10rem;
		padding-bottom: 1rem;
		justify-content: center;
		display: flex;
	}

	.logos a{
		flex-basis: 10rem;
		display: flex;
		justify-content: center;
	}

	.logo{
		display: flex;
	}

	.social-media-list{
		margin: 0 !important;
		margin-top: 0.5rem !important;
	}
}

@media all and (max-width: 590px) and (min-width: 470px){
	.center{
		display:flex;
		flex-direction: column;
	}

	.contact{
		margin: 0 !important;
	}

	.footer-contact{
		height: auto !important;
	}

	.contact-table{
		border: none !important;
		padding: 0 !important;
	}

	.social-media-list{
		margin: 0 !important;
		margin-top: 1rem !important;
	}
}

.city-link > p{
	font-size: 0.833333333rem;
}



@media (max-width: 38rem){

	.map{
		height: 10rem;
		width: 10rem;
		margin: 0;
	}
}


@media (max-width: 58rem){
	.logos > * {
		flex-basis: 6rem !important;
	}

	.logo, .logo:hover, .partners-link, .join-link, .be-sponsor-partner, .logo-p{
		width: 100%;
		height: 3rem;
	}
}
