body {
	font-family: Lato;
	padding: 0rem;
}

.main-nav {
	font-family: metafors;
	background-color: #333741;
	max-width: 60rem;
	min-width: 56rem;
	height: 3rem;
	margin: 0 auto;
}

.post-title, .page-heading {
	font-family: metafors;
	font-size: 1.25rem;
}

.menu-nav {
	list-style-type: none;
	padding-left: 0rem;
	margin: 0 auto;
	max-width: 40rem;

}

.menu-nav-element, .logo-index {
	float: left;
	margin: 1rem 0.5rem;
}

.logo-index {
	margin: 1rem 5rem 0rem 1rem;
}

.nav-link {
	font-size: 1rem;/* 0.666667rem to za mało; */
	text-decoration: none;
	color: #fff;
}

.nav-link:hover {
	color: #aeafb3;
}

a, a:hover, a:link, a:visited {
	text-decoration: none;
}

.title-of-section {
	font-family: metafors;
	font-size: 1.25rem;
	font-weight: normal;
	margin-top: 0rem;
	text-align: center;
}

.section-one {
	color: #fff;
	background-image: url('/pictures/background.png/');
	background-size: cover;
	height: 20rem;
	max-width: 60rem;
	min-width: 56rem;
	margin: 0 auto;
	text-align: center;
}

.section-two {
	background-color: #fff;
	text-align: center;
	height: 25rem;
	margin: 0 auto;
	text-align: center;
	max-width: 60rem;
	min-width: 56rem;
}

.section-three {
	height: 26rem;
	text-align: center;
	margin: 0 auto;
	max-width: 60rem;
	min-width: 56rem;
	background-image: url('/pictures/backgound.png/');
	background-size: cover;
}

.section-four {
	padding-top: 1rem;
	height: 11rem;
	text-align: center;
	max-width: 60rem;
	min-width: 56rem;
	margin: 0 auto;
	background-color: #333741;
	color: #fff;
}

.section-five {
	background-color: #fff;
	height: 18rem;
	margin: 0 auto;
	text-align: center;
	max-width: 60rem;
	min-width: 56rem;
}

.sponsors {
	height: 22rem;
	max-width: 60rem;
	min-width: 56rem;
	margin: 0 auto;
	text-align: center;
	background-image: url('/pictures/backgound.png/');
	background-size: cover;
}

.partners {
	height: 14rem;
	max-width: 60rem;
	min-width: 56rem;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
}

.footer-contact {
	background-color: #333741;
	color: #fff;
	height: 14rem;
	max-width: 60rem;
	min-width: 56rem;
}

.section-content {
	text-align: center;
	margin: 0 auto;
	max-width: 50rem;
	padding-bottom: 2rem;
}

.title-one {
	padding: 6rem 2rem 0rem 2rem;
}

.title-two, .title-three, .title-five {
	padding: 2rem;
}

.title-four {
	padding: 1rem;
}

.title-five {
	padding-bottom: 1rem;
}

.title-sponsors, .title-partners {
	padding: 2rem;
	padding-bottom: 1rem;
}

.content-four {
	padding-bottom: 0rem;
}
	
.description {
	font-family: Lato;
	font-size: 0.583333rem;
	font-weight: normal;
	margin: 0rem;
	padding-bottom: 1rem;
	text-align: center;
}

button {
	border-radius: 1rem;
	font-size: 0.583333rem;
	font-family: Lato;
	color: #fff;
	border-width: 0.083333rem;
	transition: 300ms;
	border-style: none;
	cursor: pointer;
}

.city-search {
	border-color: #fff;
	border-style: solid;
	padding: 0rem 1rem 0.166666rem 1rem;
	background-color: transparent;
}

.city-search:hover {
	background-color: #ffc700;
	color: #000;
	border-color: #ffc700;
}

.img-block {
	text-align: center;
	float: left;
	margin: 0rem 2.5rem;
}

.img-circle {
	height: 8rem;
	width: 8rem;
	text-align: center;
}

.img-content {
	text-align: center;
	padding-top: 1rem;
}

.images {
	text-align: center;
}

.meetings {
	background-color: #333741;
	padding: 0rem 1rem 0.166666rem 1rem;
	margin-left: 5rem;
}

.map { /* na razie to jest zwykły kwadrat */
	background-color: #ffc700;
	height: 15rem;
	width: 15rem;
	float: left;
	margin: 0 5rem;
}

.map-info {
	height: 20rem;
	width: 20rem;
	float: left;
	text-align: left;
}

.city-title {
	font-size: 1rem;/*0.583333rem to za mało;*/
	font-weight: normal;
	font-family: metafors;
	padding-right: 8rem;
	padding-bottom: 1rem;
	padding-top: 0rem;
	height: 2rem;
}

.data, .data-info {
	font-size: 0.75rem;/*0.5rem;to za mało */
}

.map-info-table {
	height: 8rem;
}

.header-table {
	height: 2rem;
}

.body-table {
	height: 6rem;
}

.data {
	padding-right: 1rem;
	padding-top: 0rem;
	color: #4e5462; /* tam ma być inny kolor; ale nie mam informacji jaki jest dokładny kod */
}

.join {
	font-size: 0.5rem;
	background-color: #ffc700;
	color: #000;
	padding: 0rem 2rem 0.166666rem 2rem;
	
}

.agenda {
	font-size: 0.5rem;
	color: #aeafb3;
	background-color: transparent;
	border-style: solid;
	border-width: 0.041666rem;
	border-color: #aeafb3;
	padding: 0rem 0.333333rem;
}

.agenda:hover {
	font-size: 0.5rem;
	background-color: #333741;
	border-color: #333741;
	border-width: 0.041666rem;
	color: #fff;
}

.table-meetings {
	max-width: 40rem;
	margin: 0 auto;
	text-align: left;
}

.table-element-meetings {
	padding-left: 1.5rem;
	padding-right: 0rem;
	font-size: 0.666667rem;
}

.table-element-info {
	font-size: 0.5rem;
}

.table-agenda {
	padding-right: 1.5rem;
}

.five {
	padding: 0rem 2rem 0.166666rem 2rem;
	margin-top: 1rem;
	margin-left: 1rem;
}

.shadows {
	webkit-box-shadow: 8px 9px 10px -5px rgba(186,186,186,1);
	moz-box-shadow: 8px 9px 10px -5px rgba(186,186,186,1);
	box-shadow: 8px 9px 10px -5px rgba(186,186,186,1);
}

.logo, .logo-hover, .be-sponsor-partner { /* na razie to jest zwykły prostokąt */
	height: 5rem;
	width: 8rem; /* złoty podział a ciąg Fibonacciego */
	color: #000;
	border-radius: 0rem;
	font-size: 0.5rem;
	font-family: Lato;
	color: #000;
	border-width: 0.041666rem;
	transition: 300ms;
	border-style: solid;
	cursor: pointer;
	float: left;
	margin: 1rem 1rem;
}

.logo {
	background-image: url('/pictures/logo.png');
	background-size: contain;
}

.be-sponsor-partner {
	border-style: dashed;
	border-color: #000;
	padding: 1rem 1.5rem;
	display: block;
	background-color: transparent;
}

.logo:hover {
	background-image: url('/pictures/logo_color.png');
	background-size: contain;
}

.icons-bg {
	cursor: pointer;
	color: #aeafb3;
	font-size: 1rem;
	background-color: #4e5462;
	width: 1.5rem;
	text-align: center;
	height: 1.25rem;
	float: left;
	margin-right: 0.5rem;
}

.icons-bg:hover {
	color: #fff;
	font-size: 1rem;
	transition: 300ms;
}

.links {
	float: left;
}

.contact {
	float: left;
}

.social-media-list {
	color: #aeafb3;
	font-size: 1rem;
	float: left;
}