---
layout: page
title: Najbliższe spotkania
permalink: /meet-ups/
---

<div class="home">
	Jeśli chcesz zobaczyć archiwalne spotkania kliknij
  <a href="/meet-ups/archives/">tutaj</a>.
	<ul class="cities">
		{% for city in site.cities %}
		<li class="city">
			<h3 class="city-header">Wydarzenia dla miasta: {{ city.title }}</h3>
			<ul class="meetups">
			{% for meetup in site.meet_ups %}
				{% if meetup.city == city.ident %}
					{% if meetup.archived == false %}
						<li class="meetup">
							<a href={{meetup.permalink}}>{{meetup.title}}</a>
						</li>
					{% endif %}
				{% endif %}
			{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
</div>
