<footer class="site-footer" id="contact">
  <div class="wrapper">
	<div class="footer-contact">
		<div class="center">
			<div class="links">
				<a class="footer-link">Regulamin</a>
				<a class="footer-link">Zostań Prelegentem</a>
				<a class="footer-link">Zostań Sponsorem</a>
				<a class="footer-link">Zostań Partnerem</a>
				<!-- <a class="footer-link">Dołącz do ekipy Tipi UX! :)</a> -->
			</div>
			<div class="contact">
				<p class="title-contact" >Kontakt ogólny:</p>
				<table class="contact-table">
					<tbody>
						<tr class="contact-table-tr">
							<td class="contact-table-td-1"><i class="fa fa-phone"></i></td>
							<!--<td class="contact-table-td-2"><a class="tel" href="">656 654 876</a></td>-->
						</tr>
						<tr class="contact-table-tr">
							<td class="contact-table-td-1"><i class="fa fa-envelope"></i></td>
							<td class="contact-table-td-2"><a class="mailto" href="mailto:mail@mail.com">uxtipi@gmail.com</td>
						</tr>
						<tr class="contact-table-tr">
							<!-- <td class="contact-cities contact-table-td-2" colspan="2">Przejdź do kontaktu z poszczególnymi miastami</td> -->
						<tr>
					</tbody>
				</table>
			</div>
			<div class="social-media-list">
				<a class="icons-bg shadows" id="fb-footer" href="https://www.facebook.com/tipiUX/" target="blank"><i class="fa fa-facebook"></i></a>
				<a class="icons-bg shadows" href="https://www.instagram.com/tipi_ux/" target="blank"><i class="fa fa-instagram"></i></a>
				<a class="icons-bg shadows"><i class="fa fa-twitter"></i></a>
			</div>
		</div>
	</div>
  </div>
	<div class="footer-sealcode">
		<img class="sealcode-logo" src="/pictures/logo-sealcode-small.png">
		<p class="sealcode-info">Strona powstała dzięki Sealcode.org</p>
	</div>
</footer>
<script src="https://use.fontawesome.com/c157dae4c1.js"></script>
<script src="/javascript/app.js"></script>
<script src="/javascript/expand-menu.js"></script>
<script src="/javascript/scrolling.js"></script>
