<footer class="site-footer">
  <div class="wrapper">
	<div class="footer-contact">
		<div class="links">
			<a class="footer-link">Regulamin</a><br>
			<a class="footer-link">Zostań Prelegentem</a><br>
			<a class="footer-link">Zostań Sponsorem</a><br>
			<a class="footer-link">Zostań Partnerem</a><br>
			<a class="footer-link">Dołącz do ekipy Tipi UX! :)</a>
		</div>
		<div class= "contact">
			<p class="title-contact">Kontakt ogólny:</p>
			<div class="contact-data">
				<table ="contact-table">
					<tbody>
						<tr>
							<td><i class="fa fa-phone"></i></td>
							<td>656 654 876</td>
						</tr>
						<tr>
							<td><i class="fa fa-envelope"></i></td>
							<td><a class="mailto" href="mailto:mail@mail.com">mail@mail.com</td>
						</tr>
					</tbody>
				</table>
				<p class="contact-cities">Przejdź do kontaktu z poszczególnymi miastami</p>
			</div>
		</div>
		<div class="social-media-list">
			<div class="icons-bg"><i class="fa fa-facebook"></i></div>
			<div class="icons-bg"><i class="fa fa-instagram"></i></div>
			<div class="icons-bg"><i class="fa fa-twitter"></i></div>
			<div style="clear:both;"></div>
		</div>
		<div style="clear:both;"></div>
	</div>
  </div>
</footer>
<script src="https://use.fontawesome.com/c157dae4c1.js"></script>
