<header class="site-header">
	<div class="wrapper">
		<nav class="main-nav">
			<ul class="menu-nav">
				<li class="logo-index"><a class="nav-link" href="/">Tipi UX</a>
				{% for my_page in site.pages %}
				  {% if my_page.title && !my_page.hide_from_nav %}
					<li class="menu-nav-element"><a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
				  {% endif %}
				{% endfor %}
				<li style="clear: both; margin: 0;"></li>
			</ul>
		</nav>
	</div>
</header>
