<header class="site-header">
	<div class="wrapper wrapper-nav">
		<nav class="main-nav shadows" id="navbar">
			<div class="container">
				<ul class="menu-left">
					<li><a href="/"><img src="/pictures/logo-tipi.png">Tipi UX</a></li>
				</ul>
				<ul class="menu-right" id="expanded-menu">
					<li><a href="#about" class="scroll-link">O nas</a></li>
					<li><a href="#places" class="scroll-link">Ośrodki Tipi Ux</a></li>
					<li><a href="#nearest" class="scroll-link">Najbliższe spotkania</a></li>
					<li><a href="#contact" class="scroll-link">Kontakt</a></li>
				</ul>
				<button class="show-menu" id="expand-menu">
					Pokaż menu
				</button>
			</div>
		</nav>
	</div>
</header>
